/* h2 {
    background-color: wheat;
} */

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}

nav {
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
}

header {
    padding-top: 38px;
    background-image: url("https://www.lacity.org/sites/g/files/wph1196/f/styles/isotope_tiles_full_tile__680x410_/public/bigstock-Los-Angeles-California-USA--230874199.jpg?itok=AoMvItXw");
    background-size: cover;
    justify-content: center;
}

header h1 {
    padding-top: 20px;
}
.slide {
    height: 75vh;
    background-color: white;
    border: 1px solid black;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

div h1 {
    color: white;
    font-size: 2.5em;
}
#about {
    background-color: white;
}

#My-profile-image {
    background-image:  url("ja-plaza.jpeg");
    height: 100%;
    width: 40%;
    background-size: cover;
}

#My-profile-details {
    height: 100%;
    width: 60%;
    color: black;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#blog {
    background-color: white;
}

#My-blog-details {
    height: 100%;
    width: 60%;
    color: black;
    background-color: white;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

#My-blog-image {
    background-image:  url("ja-plaza.jpeg");
    height: 100%;
    width: 40%;
    background-size: cover;
}

#contact {
    align-items: center;
    justify-content: center;
}

footer {
    color: white;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}